# === phpMyAdmin ===
PHPMYADMIN_IMAGETAG=latest
PHPMYADMIN_IMAGE=phpmyadmin
# Set "yes" to launch phpMyAdmin server. Use EMPTY value to prevent launch phpMyAdmin server.
PHPMYADMIN_RUN=yes
# Set "yes" to use a volume to store phpMyAdmin data. Useful to long runs.
PGADMIN_USEDATAVOLUME=

# === Mysql Server ===
MYSQL_IMAGETAG=11.2.2
MYSQL_IMAGE=mariadb
# Set "yes" to use a volume to store mySql data. Useful to long runs.
MYSQL_USEDATAVOLUME=
